body {
    margin: 0;
    background-color: rgba(200, 218, 234, 0.5);
    font-size: 1.2em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
/*Navigation*/
.navbar {
    overflow: hidden;
    background-color: #000066;
    padding-left: 10%;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;

}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: #ddd !important;
    color: black !important;
}
.navbar .projects {
    display: none;
}
.navbar .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000066;
    min-width: 160px;
    margin-top: 62px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*home*/
.main-index {
    padding: 20px 0;
}
main img {
    display: block;
}
.b1, .b2, .b3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bp1, .bp2, .bp3 {
    flex-basis: 30%;
    text-align: center;
    text-shadow: 0 1px 1px #999;
}
.bm1, .bm2, .bm3 {
    border-radius: 30px;
    box-shadow: 0 3px 3px #999;;
}
.bm2 {
    order: 1;
}
.bp2 {
    order: 2;
}
/*bio*/
#bio-img {
    margin: 20px;
    border-radius: 100px;
    border: 10px solid #000066;
    box-shadow: 0 3px 3px #999;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio_header {
    text-align: center;
}
.education p {
    width: 60%;
}
.skill-div {
    width: 60%;
    margin: 40px 0;
    box-shadow: 0 3px 3px #999;
}
#bio-img {
    display: block;
    justify-self: center;
}
/*bio skill table*/
#skill-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#skill-table td, #skill-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.skill-header {
    width: 100%;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
    margin: 0;
    background-color: #000066;
}
#skill-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
#skill-table tr:hover {
    background-color: #ddd;
}
#skill-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000066;
    color: white;
}
#skill-table th {
    width: 20%;
}
/*articles*/
.blog-main {
    width: 100%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.article-preview {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid #ddd;
    text-decoration: none;
    opacity: 0.5;
    border-collapse: collapse;
}
.article-preview:hover {
    opacity: 1;
}
.article-preview h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    color: white;
    padding: 5px 10px;
    background-color: #000066;
}
.article-preview img {
    display: block;
    margin: auto;
}
.article-preview p {
    border-top: px solid #ddd;
    padding: 5px;
    height: 50px;
    color: black;
}
.article-header {
    border-bottom: 2px solid #000066;
}
.article-header p {
    padding: 5px 0 !important;
}
.article-header h2 {
    font-size: inherit;
}
.article-header a {
    text-decoration: none;
    font-style: italic;
}
.article-main {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}
.article-image {
    align-self: center;
    padding-top: 10px;
}
.article-main p {
    padding: 5px 10px;
}
/*contact*/
.mail-form {
    align-self: center;
    width: 40%;
}
.mail-form input, textarea {
    width: 100%;
    padding: 10px;
}
.mail-form p {
    margin: 0;
    padding: 5px;
    color: #000066;
}
input[type=submit] {
    width: 105%;
    background-color: #000066;
    color: white;
    padding: 14px 0px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ddd;
}
/*social media links*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
#social {
    margin: 20px 10px;
    text-align: center;
}
.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}
/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}
.facebookBtn:before { /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
}
/* linkedin button class*/
.linkedinBtn {
    background: #0094BC;
}
.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1"; /* add linkedin icon */
}
.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}
/* github button class*/
.githubBtn {
    background: black;
}
.githubBtn:before {
    font-family: "FontAwesome";
    content: "\f09b"; /* add github icon */
}
.githubBtn:hover {
    color: black;
    background: #fff;
    border-color: black;
}
/*project*/
.project-container {
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
    box-shadow: 0 3px 3px #999;
  }
.project-image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000066;
  }
  .project-container:hover .overlay {
    opacity: 1;
  }
  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
.project-thumbnails {
    display: flex;
    padding:  30px 0;
    width: 100%;
    justify-content: center;
}
/*individual project pages*/
.individual-project-main {
    width: 60%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.individual-project-main h1 {
    text-align: center;
}
.individual-project-main p {
    text-align: left;
    padding: 10px;
}
.individual-project-main a {
    text-decoration: none;
}
.mySlides {
    display: none;
}
.slideshow-container img {
    vertical-align: middle;
    width: 100%;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*project portfolio*/
.project-portfolio-main {
    width: 60%;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.project-portfolio-text {
    padding: 5px;
}
.project-portfolio-text h1 {
    text-align: center;
}
.project-portfolio-text p{
    padding: 10px;
}
.project-portfolio-gallery {
    margin: auto;
    
}
.gallery {
    margin: 10px;
    border: 1px solid #ddd;
    float: left;
    width: 30%;
    opacity: 0.8;
  }
  
.gallery:hover {
      opacity: 1;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }
/*responsiveness*/
@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    /*navigation*/
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar div.dropdown {
        display: none;
    }
    .navbar projects {
        display: block;
    }
    .navbar {
        padding-left: 0;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /*homepage*/
    .b1, .b2, .b3 {
        flex-direction: column;
        padding: 0 5px;
    }
    .bm2 {
        order: 2;
    }
    
    .bp2 {
        order: 1;
    }
    /*projects*/
    .project-thumbnails {
        flex-wrap: wrap;
    }
    .project-container {
        padding: 10px 0;
    }
    /*articles main page*/
    .blog-main {
        flex-direction: column;
    }
    .article-preview {
        width: 100%;
    }
    /*bio*/
    .skill-div, .education p{
        width: 100%;
    }
    .education {
        padding: 0 20px;
    }
    /*contact*/
    .mail-form {
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
        margin: 8px 0;
    }
    /*individual articles*/
    .article-main {
        width: 100%;
        padding: 5px;
    }
    .article-header {
        padding: 5px;
    }
    /*individual projects*/
    .individual-project-main {
        width: 100%;
    }
    .project-portfolio-main {
        width: 100%;
    }
    .gallery {
        width: 90%;
        padding: 10px;
    }
}
    
